node_modules/
dist/
.env
.env.*
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn.lock
.yarn/*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

FRONT/.angular/cache/
FRONT/.angular/
FRONT/.output/
FRONT/.turbo/
FRONT/.idea/
FRONT/.vscode/
FRONT/.firebase/
FRONT/tmp/
FRONT/out-tsc/
FRONT/coverage/

BACK/node_modules/
BACK/dist/
BACK/.vscode/
BACK/coverage/
BACK/.nyc_output/
BACK/.eslintcache

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

__snapshots__/
*.spec.ts.snap

# Node
/node_modules/
/dist/
/build/
/coverage/

# Yarn (Berry)
.yarn/cache/
.yarn/unplugged/
.yarn/install-state/
.yarn/build-state.yml
.pnp.cjs
.pnp.loader.mjs

# Logs
logs

.env.local
.env.*.local

# Misc
*.tgz

# Yarn Berry
.yarn/install-state.gz
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.pnp.*

test-*.js
