.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fce15b;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #f1c40f;
}

.btn:active {
    background-color: #f39c12;
}